In [137]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
import sys


# 그래프 설정
# plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['font.size'] = 16
plt.rcParams['figure.figsize'] = 20, 10
plt.rcParams['axes.unicode_minus'] = False

## 데이터 불러오기

In [138]:
# 윈도우에서 엑셀로 파일을 열고 저장하면 cp949방식
df = pd.read_csv('data/장소별_헌혈통계_2005_2019.csv' , encoding='cp949')
df.head()

,혈액원별(1),혈액원별(2),성별(1),소계,소계.1,소계.2,고등학교,고등학교.1,대학교,대학교.1,...,일반단체.28,일반단체.29,소계.73,소계.74,원내.28,원내.29,헌혈의집.28,헌혈의집.29,가두.28,가두.29
0,혈액원별(1),혈액원별(2),성별(1),합계,단체헌혈,단체헌혈,단체헌혈,단체헌혈,단체헌혈,단체헌혈,...,단체헌혈,단체헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈
1,혈액원별(1),혈액원별(2),성별(1),2005,2005,2005,2005,2005,2005,2005,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
2,혈액원별(1),혈액원별(2),성별(1),실적 (건),실적 (건),구성비 (%),실적 (건),구성비 (%),실적 (건),구성비 (%),...,실적 (건),구성비 (%),실적 (건),구성비 (%),실적 (건),구성비 (%),실적 (건),구성비 (%),실적 (건),구성비 (%)
3,합계,소계,계,2274336,1209466,53.2,293838,12.9,101838,4.5,...,156537,5.6,1917840,68.7,41909,1.5,1870399,67,5532,0.2
4,합계,소계,남,1831613,1076221,58.8,215765,11.8,76161,4.2,...,118799,5.8,1351342,66.4,32380,1.6,1314974,64.6,3988,0.2

In [139]:
## 컬럼명 변경하기
df.rename(columns={'고등학교':'고등학교.0','대학교':'대학교.0','군부대':'군부대.0','종교':'종교.0','일반단체':'일반단체.0'},inplace=True)
df.head()

,혈액원별(1),혈액원별(2),성별(1),소계,소계.1,소계.2,고등학교.0,고등학교.1,대학교.0,대학교.1,...,일반단체.28,일반단체.29,소계.73,소계.74,원내.28,원내.29,헌혈의집.28,헌혈의집.29,가두.28,가두.29
0,혈액원별(1),혈액원별(2),성별(1),합계,단체헌혈,단체헌혈,단체헌혈,단체헌혈,단체헌혈,단체헌혈,...,단체헌혈,단체헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈,개인헌혈
1,혈액원별(1),혈액원별(2),성별(1),2005,2005,2005,2005,2005,2005,2005,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
2,혈액원별(1),혈액원별(2),성별(1),실적 (건),실적 (건),구성비 (%),실적 (건),구성비 (%),실적 (건),구성비 (%),...,실적 (건),구성비 (%),실적 (건),구성비 (%),실적 (건),구성비 (%),실적 (건),구성비 (%),실적 (건),구성비 (%)
3,합계,소계,계,2274336,1209466,53.2,293838,12.9,101838,4.5,...,156537,5.6,1917840,68.7,41909,1.5,1870399,67,5532,0.2
4,합계,소계,남,1831613,1076221,58.8,215765,11.8,76161,4.2,...,118799,5.8,1351342,66.4,32380,1.6,1314974,64.6,3988,0.2

In [140]:
df=df.drop('혈액원별(1)', axis=1)

## 장소별로 구분하는 함수 만들기

## 단체

### 고등학교

In [143]:
# 고등학교
def High_school(local):
    high_count_2005 = local["고등학교.0"]
    high_rating_2005 = local["고등학교.1"]
    high_2005 = pd.concat([high_count_2005,high_rating_2005], axis=1)
    high_2005.columns=['2005_실적(건)','2005_구성비(%)']

    high_count_2006 = local['고등학교.2']
    high_rating_2006 = local['고등학교.3']
    high_2006 = pd.concat([high_count_2006,high_rating_2006], axis=1)
    high_2006.columns=['2006_실적(건)','2006_구성비(%)']

    high_count_2007 = local['고등학교.4']
    high_rating_2007 = local['고등학교.5']
    high_2007 = pd.concat([high_count_2007,high_rating_2007], axis=1)
    high_2007.columns=['2007_실적(건)','2007_구성비(%)']
    
    high_count_2008 = local['고등학교.6']
    high_rating_2008 = local['고등학교.7']
    high_2008 = pd.concat([high_count_2008,high_rating_2008], axis=1)
    high_2008.columns=['2008_실적(건)','2008_구성비(%)']
    
    high_count_2009 = local['고등학교.8']
    high_rating_2009 = local['고등학교.9']
    high_2009 = pd.concat([high_count_2009,high_rating_2009], axis=1)
    high_2009.columns=['2009_실적(건)','2009_구성비(%)']
    
    high_count_2010 = local['고등학교.10']
    high_rating_2010 = local['고등학교.11']
    high_2010 = pd.concat([high_count_2010,high_rating_2010], axis=1)
    high_2010.columns=['2010_실적(건)','2010_구성비(%)']
    
    high_count_2011 = local['고등학교.12']
    high_rating_2011 = local['고등학교.13']
    high_2011 = pd.concat([high_count_2011,high_rating_2011], axis=1)
    high_2011.columns=['2011_실적(건)','2011_구성비(%)']
    
    high_count_2012 = local['고등학교.14']
    high_rating_2012 = local['고등학교.15']
    high_2012 = pd.concat([high_count_2012,high_rating_2012], axis=1)
    high_2012.columns=['2012_실적(건)','2012_구성비(%)']
    
    high_count_2013 = local['고등학교.16']
    high_rating_2013 = local['고등학교.17']
    high_2013 = pd.concat([high_count_2013,high_rating_2013], axis=1)
    high_2013.columns=['2013_실적(건)','2013_구성비(%)']
    
    high_count_2014 = local['고등학교.18']
    high_rating_2014 = local['고등학교.19']
    high_2014 = pd.concat([high_count_2014,high_rating_2014], axis=1)
    high_2014.columns=['2014_실적(건)','2014_구성비(%)']
    
    high_count_2015 = local['고등학교.20']
    high_rating_2015 = local['고등학교.21']
    high_2015 = pd.concat([high_count_2015,high_rating_2015], axis=1)
    high_2015.columns=['2015_실적(건)','2015_구성비(%)']
    
    high_count_2016 = local['고등학교.22']
    high_rating_2016 = local['고등학교.23']
    high_2016 = pd.concat([high_count_2016,high_rating_2016], axis=1)
    high_2016.columns=['2016_실적(건)','2016_구성비(%)']
    
    high_count_2017 = local['고등학교.24']
    high_rating_2017 = local['고등학교.25']
    high_2017 = pd.concat([high_count_2017,high_rating_2017], axis=1)
    high_2017.columns=['2017_실적(건)','2017_구성비(%)']
    
    high_count_2018 = local['고등학교.26']
    high_rating_2018 = local['고등학교.27']
    high_2018 = pd.concat([high_count_2018,high_rating_2018], axis=1)
    high_2018.columns=['2018_실적(건)','2018_구성비(%)']
    
    high_count_2019 = local['고등학교.28']
    high_rating_2019 = local['고등학교.29']
    high_2019 = pd.concat([high_count_2019,high_rating_2019], axis=1)
    high_2019.columns=['2019_실적(건)','2019_구성비(%)']
    
    high = pd.concat([high_2005,high_2006,high_2007,high_2008, high_2009,high_2010, high_2011, high_2012, high_2013, high_2014, high_2015, high_2016, high_2017, high_2018, high_2019], axis=1)
    high = high.reset_index()
    high=high.drop('index', axis=1)
    return high

In [154]:
def High(local):
    i=0
    j=1

    for year in range(2005,2020):
        a = globals()['high_count_{}'.format(year)] = local[f"고등학교.{i}"]
        b = globals()['high_rating_{}'.format(year)] = local[f"고등학교.{j}"]
        globals()['high_{}'.format(year)] = pd.concat([a,b], axis=1)
        globals()['high_{}'.format(year)].columns = [f"{year}_실적(건)",f"{year}_구성비(%)"]
        i += 2
        j += 2

    high = pd.concat([high_2005,high_2006,high_2007,high_2008, high_2009,high_2010, high_2011, high_2012, high_2013, high_2014, high_2015, high_2016, high_2017, high_2018, high_2019], axis=1)
    high = high.reset_index()
    high=high.drop('index', axis=1)
    return high

In [156]:
High(seoul).head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,20574,9.8,19028,8.6,18322,9.8,14301,6.9,10630,5.1,...,-,-,-,-,-,-,14569,5.5,14910,5.9
1,14522,8.6,13637,7.8,12310,9,9881,6.7,7853,5.3,...,-,-,-,-,-,-,10296,5.3,10651,5.8
2,6052,14.8,5391,11.3,6012,11.9,4420,7.3,2777,4.6,...,-,-,-,-,-,-,4273,6,4259,6.3
3,14614,10.9,17831,12.9,16288,10.5,17136,10,11823,6.1,...,26927,8.1,23154,8,18559,6.7,-,-,-,-
4,10700,9.4,13332,11.7,11864,10.1,12353,9.7,8703,6.1,...,19450,8.4,16911,8,13338,6.6,-,-,-,-

### 대학교

In [10]:
# 대학교
def University(local):
    uni_count_2005 = local["대학교"]
    uni_rating_2005 = local["대학교.1"]
    uni_2005 = pd.concat([uni_count_2005,uni_rating_2005], axis=1)
    uni_2005.columns=['2005_실적(건)','2005_구성비(%)']

    uni_count_2006 = local['대학교.2']
    uni_rating_2006 = local['대학교.3']
    uni_2006 = pd.concat([uni_count_2006,uni_rating_2006], axis=1)
    uni_2006.columns=['2006_실적(건)','2006_구성비(%)']

    uni_count_2007 = local['대학교.4']
    uni_rating_2007 = local['대학교.5']
    uni_2007 = pd.concat([uni_count_2007,uni_rating_2007], axis=1)
    uni_2007.columns=['2007_실적(건)','2007_구성비(%)']
    
    uni_count_2008 = local['대학교.6']
    uni_rating_2008 = local['대학교.7']
    uni_2008 = pd.concat([uni_count_2008,uni_rating_2008], axis=1)
    uni_2008.columns=['2008_실적(건)','2008_구성비(%)']
    
    uni_count_2009 = local['대학교.8']
    uni_rating_2009 = local['대학교.9']
    uni_2009 = pd.concat([uni_count_2009,uni_rating_2009], axis=1)
    uni_2009.columns=['2009_실적(건)','2009_구성비(%)']
    
    uni_count_2010 = local['대학교.10']
    uni_rating_2010 = local['대학교.11']
    uni_2010 = pd.concat([uni_count_2010,uni_rating_2010], axis=1)
    uni_2010.columns=['2010_실적(건)','2010_구성비(%)']
    
    uni_count_2011 = local['대학교.12']
    uni_rating_2011 = local['대학교.13']
    uni_2011 = pd.concat([uni_count_2011,uni_rating_2011], axis=1)
    uni_2011.columns=['2011_실적(건)','2011_구성비(%)']
    
    uni_count_2012 = local['대학교.14']
    uni_rating_2012 = local['대학교.15']
    uni_2012 = pd.concat([uni_count_2012,uni_rating_2012], axis=1)
    uni_2012.columns=['2012_실적(건)','2012_구성비(%)']
    
    uni_count_2013 = local['대학교.16']
    uni_rating_2013 = local['대학교.17']
    uni_2013 = pd.concat([uni_count_2013,uni_rating_2013], axis=1)
    uni_2013.columns=['2013_실적(건)','2013_구성비(%)']
    
    uni_count_2014 = local['대학교.18']
    uni_rating_2014 = local['대학교.19']
    uni_2014 = pd.concat([uni_count_2014,uni_rating_2014], axis=1)
    uni_2014.columns=['2014_실적(건)','2014_구성비(%)']
    
    uni_count_2015 = local['대학교.20']
    uni_rating_2015 = local['대학교.21']
    uni_2015 = pd.concat([uni_count_2015,uni_rating_2015], axis=1)
    uni_2015.columns=['2015_실적(건)','2015_구성비(%)']
    
    uni_count_2016 = local['대학교.22']
    uni_rating_2016 = local['대학교.23']
    uni_2016 = pd.concat([uni_count_2016,uni_rating_2016], axis=1)
    uni_2016.columns=['2016_실적(건)','2016_구성비(%)']
    
    uni_count_2017 = local['대학교.24']
    uni_rating_2017 = local['대학교.25']
    uni_2017 = pd.concat([uni_count_2017,uni_rating_2017], axis=1)
    uni_2017.columns=['2017_실적(건)','2017_구성비(%)']
    
    uni_count_2018 = local['대학교.26']
    uni_rating_2018 = local['대학교.27']
    uni_2018 = pd.concat([uni_count_2018,uni_rating_2018], axis=1)
    uni_2018.columns=['2018_실적(건)','2018_구성비(%)']
    
    uni_count_2019 = local['대학교.28']
    uni_rating_2019 = local['대학교.29']
    uni_2019 = pd.concat([uni_count_2019,uni_rating_2019], axis=1)
    uni_2019.columns=['2019_실적(건)','2019_구성비(%)']
    
    uni = pd.concat([uni_2005,uni_2006,uni_2007,uni_2008, uni_2009,uni_2010, uni_2011, uni_2012, uni_2013, uni_2014, uni_2015, uni_2016, uni_2017, uni_2018, uni_2019], axis=1)
    uni = uni.reset_index()
    uni=uni.drop('index', axis=1)
    return uni

In [158]:
def University(local):
    i=0
    j=1

    for year in range(2005,2020):
        a = globals()['uni_count_{}'.format(year)] = local[f"대학교.{i}"]
        b = globals()['uni_rating_{}'.format(year)] = local[f"대학교.{j}"]
        globals()['uni_{}'.format(year)] = pd.concat([a,b], axis=1)
        globals()['uni_{}'.format(year)].columns = [f"{year}_실적(건)",f"{year}_구성비(%)"]
        i += 2
        j += 2

    uni = pd.concat([uni_2005,uni_2006,uni_2007,uni_2008, uni_2009,uni_2010, uni_2011, uni_2012, uni_2013, uni_2014, uni_2015, uni_2016, uni_2017, uni_2018, uni_2019], axis=1)
    uni = uni.reset_index()
    uni=uni.drop('index', axis=1)
    return uni

In [160]:
University(seoul).head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,8258,3.9,7814,3.5,7509,4,5498,2.6,5139,2.5,...,-,-,-,-,-,-,1287,0.5,1932,0.8
1,5349,3.1,5504,3.2,4673,3.4,3404,2.3,3230,2.2,...,-,-,-,-,-,-,858,0.4,1287,0.7
2,2909,7.1,2310,4.9,2836,5.6,2094,3.4,1909,3.2,...,-,-,-,-,-,-,429,0.6,645,0.9
3,1546,1.2,1615,1.2,1682,1.1,1681,1,1299,0.7,...,2396,0.7,1859,0.6,1741,0.6,-,-,-,-
4,1268,1.1,1406,1.2,1317,1.1,1258,1,936,0.7,...,1776,0.8,1343,0.6,1131,0.6,-,-,-,-

### 군부대

In [14]:
# 군부대
def Military(local):
    military_count_2005 = local["군부대"]
    military_rating_2005 = local["군부대.1"]
    military_2005 = pd.concat([military_count_2005,military_rating_2005], axis=1)
    military_2005.columns=['2005_실적(건)','2005_구성비(%)']

    military_count_2006 = local['군부대.2']
    military_rating_2006 = local['군부대.3']
    military_2006 = pd.concat([military_count_2006,military_rating_2006], axis=1)
    military_2006.columns=['2006_실적(건)','2006_구성비(%)']

    military_count_2007 = local['군부대.4']
    military_rating_2007 = local['군부대.5']
    military_2007 = pd.concat([military_count_2007,military_rating_2007], axis=1)
    military_2007.columns=['2007_실적(건)','2007_구성비(%)']
    
    military_count_2008 = local['군부대.6']
    military_rating_2008 = local['군부대.7']
    military_2008 = pd.concat([military_count_2008,military_rating_2008], axis=1)
    military_2008.columns=['2008_실적(건)','2008_구성비(%)']
    
    military_count_2009 = local['군부대.8']
    military_rating_2009 = local['군부대.9']
    military_2009 = pd.concat([military_count_2009,military_rating_2009], axis=1)
    military_2009.columns=['2009_실적(건)','2009_구성비(%)']
    
    military_count_2010 = local['군부대.10']
    military_rating_2010 = local['군부대.11']
    military_2010 = pd.concat([military_count_2010,military_rating_2010], axis=1)
    military_2010.columns=['2010_실적(건)','2010_구성비(%)']
    
    military_count_2011 = local['군부대.12']
    military_rating_2011 = local['군부대.13']
    military_2011 = pd.concat([military_count_2011,military_rating_2011], axis=1)
    military_2011.columns=['2011_실적(건)','2011_구성비(%)']
    
    military_count_2012 = local['군부대.14']
    military_rating_2012 = local['군부대.15']
    military_2012 = pd.concat([military_count_2012,military_rating_2012], axis=1)
    military_2012.columns=['2012_실적(건)','2012_구성비(%)']
    
    military_count_2013 = local['군부대.16']
    military_rating_2013 = local['군부대.17']
    military_2013 = pd.concat([military_count_2013,military_rating_2013], axis=1)
    military_2013.columns=['2013_실적(건)','2013_구성비(%)']
    
    military_count_2014 = local['군부대.18']
    military_rating_2014 = local['군부대.19']
    military_2014 = pd.concat([military_count_2014,military_rating_2014], axis=1)
    military_2014.columns=['2014_실적(건)','2014_구성비(%)']
    
    military_count_2015 = local['군부대.20']
    military_rating_2015 = local['군부대.21']
    military_2015 = pd.concat([military_count_2015,military_rating_2015], axis=1)
    military_2015.columns=['2015_실적(건)','2015_구성비(%)']
    
    military_count_2016 = local['군부대.22']
    military_rating_2016 = local['군부대.23']
    military_2016 = pd.concat([military_count_2016,military_rating_2016], axis=1)
    military_2016.columns=['2016_실적(건)','2016_구성비(%)']
    
    military_count_2017 = local['군부대.24']
    military_rating_2017 = local['군부대.25']
    military_2017 = pd.concat([military_count_2017,military_rating_2017], axis=1)
    military_2017.columns=['2017_실적(건)','2017_구성비(%)']
    
    military_count_2018 = local['군부대.26']
    military_rating_2018 = local['군부대.27']
    military_2018 = pd.concat([military_count_2018,military_rating_2018], axis=1)
    military_2018.columns=['2018_실적(건)','2018_구성비(%)']
    
    military_count_2019 = local['군부대.28']
    military_rating_2019 = local['군부대.29']
    military_2019 = pd.concat([military_count_2019,military_rating_2019], axis=1)
    military_2019.columns=['2019_실적(건)','2019_구성비(%)']
    
    military = pd.concat([military_2005,military_2006,military_2007,military_2008, military_2009,military_2010, military_2011, military_2012, military_2013, military_2014, military_2015, military_2016, military_2017, military_2018, military_2019], axis=1)
    military = military.reset_index()
    military=military.drop('index', axis=1)
    return military

In [162]:
def Military(local):
    i=0
    j=1

    for year in range(2005,2020):
        a = globals()['military_count_{}'.format(year)] = local[f"군부대.{i}"]
        b = globals()['military_rating_{}'.format(year)] = local[f"군부대.{j}"]
        globals()['military_{}'.format(year)] = pd.concat([a,b], axis=1)
        globals()['military_{}'.format(year)].columns = [f"{year}_실적(건)",f"{year}_구성비(%)"]
        i += 2
        j += 2

    military = pd.concat([military_2005,military_2006,military_2007,military_2008, military_2009,military_2010, military_2011, military_2012, military_2013, military_2014, military_2015, military_2016, military_2017, military_2018, military_2019], axis=1)
    military = military.reset_index()
    military=military.drop('index', axis=1)
    return military

In [163]:
Military(seoul).head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,68161,32.4,60934,27.4,30956,16.5,35648,17.1,29540,14.2,...,-,-,-,-,-,-,30498,11.4,28396,11.3
1,68038,40.1,60848,34.9,30867,22.5,35561,24.2,29452,19.9,...,-,-,-,-,-,-,30330,15.5,28204,15.4
2,123,0.3,86,0.2,89,0.2,87,0.1,88,0.1,...,-,-,-,-,-,-,168,0.2,192,0.3
3,27230,20.4,19283,13.9,9208,5.9,12921,7.6,12083,6.3,...,41802,12.6,39489,13.6,31229,11.3,-,-,-,-
4,27199,23.9,19257,16.9,9199,7.8,12877,10.1,12036,8.4,...,41563,17.9,39294,18.6,31068,15.4,-,-,-,-

### 종교

In [16]:
# 종교
def Religion(local):
    religion_count_2005 = local["종교"]
    religion_rating_2005 = local["종교.1"]
    religion_2005 = pd.concat([religion_count_2005,religion_rating_2005], axis=1)
    religion_2005.columns=['2005_실적(건)','2005_구성비(%)']

    religion_count_2006 = local['종교.2']
    religion_rating_2006 = local['종교.3']
    religion_2006 = pd.concat([religion_count_2006,religion_rating_2006], axis=1)
    religion_2006.columns=['2006_실적(건)','2006_구성비(%)']

    religion_count_2007 = local['종교.4']
    religion_rating_2007 = local['종교.5']
    religion_2007 = pd.concat([religion_count_2007,religion_rating_2007], axis=1)
    religion_2007.columns=['2007_실적(건)','2007_구성비(%)']
    
    religion_count_2008 = local['종교.6']
    religion_rating_2008 = local['종교.7']
    religion_2008 = pd.concat([religion_count_2008,religion_rating_2008], axis=1)
    religion_2008.columns=['2008_실적(건)','2008_구성비(%)']
    
    religion_count_2009 = local['종교.8']
    religion_rating_2009 = local['종교.9']
    religion_2009 = pd.concat([religion_count_2009,religion_rating_2009], axis=1)
    religion_2009.columns=['2009_실적(건)','2009_구성비(%)']
    
    religion_count_2010 = local['종교.10']
    religion_rating_2010 = local['종교.11']
    religion_2010 = pd.concat([religion_count_2010,religion_rating_2010], axis=1)
    religion_2010.columns=['2010_실적(건)','2010_구성비(%)']
    
    religion_count_2011 = local['종교.12']
    religion_rating_2011 = local['종교.13']
    religion_2011 = pd.concat([religion_count_2011,religion_rating_2011], axis=1)
    religion_2011.columns=['2011_실적(건)','2011_구성비(%)']
    
    religion_count_2012 = local['종교.14']
    religion_rating_2012 = local['종교.15']
    religion_2012 = pd.concat([religion_count_2012,religion_rating_2012], axis=1)
    religion_2012.columns=['2012_실적(건)','2012_구성비(%)']
    
    religion_count_2013 = local['종교.16']
    religion_rating_2013 = local['종교.17']
    religion_2013 = pd.concat([religion_count_2013,religion_rating_2013], axis=1)
    religion_2013.columns=['2013_실적(건)','2013_구성비(%)']
    
    religion_count_2014 = local['종교.18']
    religion_rating_2014 = local['종교.19']
    religion_2014 = pd.concat([religion_count_2014,religion_rating_2014], axis=1)
    religion_2014.columns=['2014_실적(건)','2014_구성비(%)']
    
    religion_count_2015 = local['종교.20']
    religion_rating_2015 = local['종교.21']
    religion_2015 = pd.concat([religion_count_2015,religion_rating_2015], axis=1)
    religion_2015.columns=['2015_실적(건)','2015_구성비(%)']
    
    religion_count_2016 = local['종교.22']
    religion_rating_2016 = local['종교.23']
    religion_2016 = pd.concat([religion_count_2016,religion_rating_2016], axis=1)
    religion_2016.columns=['2016_실적(건)','2016_구성비(%)']
    
    religion_count_2017 = local['종교.24']
    religion_rating_2017 = local['종교.25']
    religion_2017 = pd.concat([religion_count_2017,religion_rating_2017], axis=1)
    religion_2017.columns=['2017_실적(건)','2017_구성비(%)']
    
    religion_count_2018 = local['종교.26']
    religion_rating_2018 = local['종교.27']
    religion_2018 = pd.concat([religion_count_2018,religion_rating_2018], axis=1)
    religion_2018.columns=['2018_실적(건)','2018_구성비(%)']
    
    religion_count_2019 = local['종교.28']
    religion_rating_2019 = local['종교.29']
    religion_2019 = pd.concat([religion_count_2019,religion_rating_2019], axis=1)
    religion_2019.columns=['2019_실적(건)','2019_구성비(%)']
    
    religion = pd.concat([religion_2005,religion_2006,religion_2007,religion_2008, religion_2009,religion_2010, religion_2011, religion_2012, religion_2013, religion_2014, religion_2015, religion_2016, religion_2017, religion_2018, religion_2019], axis=1)
    religion = religion.reset_index()
    religion=religion.drop('index', axis=1)
    return religion

In [164]:
def Religion(local):
    i=0
    j=1

    for year in range(2005,2020):
        a = globals()['religion_count_{}'.format(year)] = local[f"종교.{i}"]
        b = globals()['religion_rating_{}'.format(year)] = local[f"종교.{j}"]
        globals()['religion_{}'.format(year)] = pd.concat([a,b], axis=1)
        globals()['religion_{}'.format(year)].columns = [f"{year}_실적(건)",f"{year}_구성비(%)"]
        i += 2
        j += 2

    religion = pd.concat([religion_2005,religion_2006,religion_2007,religion_2008, religion_2009,religion_2010, religion_2011, religion_2012, religion_2013, religion_2014, religion_2015, religion_2016, religion_2017, religion_2018, religion_2019], axis=1)
    religion = religion.reset_index()
    religion=religion.drop('index', axis=1)
    return religion

In [166]:
Religion(seoul).head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,3065,1.5,1841,0.8,755,0.4,240,0.1,232,0.1,...,-,-,-,-,-,-,650,0.2,642,0.3
1,2035,1.2,1223,0.7,511,0.4,166,0.1,144,0.1,...,-,-,-,-,-,-,110,0.1,153,0.1
2,1030,2.5,618,1.3,244,0.5,74,0.1,88,0.1,...,-,-,-,-,-,-,540,0.8,489,0.7
3,3238,2.4,2255,1.6,1016,0.7,445,0.3,542,0.3,...,1147,0.3,811,0.3,682,0.2,-,-,-,-
4,2579,2.3,1779,1.6,777,0.7,309,0.2,366,0.3,...,268,0.1,187,0.1,102,0.1,-,-,-,-

### 일반단체

In [18]:
# 일반단체
def Normal(local):
    normal_count_2005 = local["일반단체"]
    normal_rating_2005 = local["일반단체.1"]
    normal_2005 = pd.concat([normal_count_2005,normal_rating_2005], axis=1)
    normal_2005.columns=['2005_실적(건)','2005_구성비(%)']

    normal_count_2006 = local['일반단체.2']
    normal_rating_2006 = local['일반단체.3']
    normal_2006 = pd.concat([normal_count_2006,normal_rating_2006], axis=1)
    normal_2006.columns=['2006_실적(건)','2006_구성비(%)']

    normal_count_2007 = local['일반단체.4']
    normal_rating_2007 = local['일반단체.5']
    normal_2007 = pd.concat([normal_count_2007,normal_rating_2007], axis=1)
    normal_2007.columns=['2007_실적(건)','2007_구성비(%)']
    
    normal_count_2008 = local['일반단체.6']
    normal_rating_2008 = local['일반단체.7']
    normal_2008 = pd.concat([normal_count_2008,normal_rating_2008], axis=1)
    normal_2008.columns=['2008_실적(건)','2008_구성비(%)']
    
    normal_count_2009 = local['일반단체.8']
    normal_rating_2009 = local['일반단체.9']
    normal_2009 = pd.concat([normal_count_2009,normal_rating_2009], axis=1)
    normal_2009.columns=['2009_실적(건)','2009_구성비(%)']
    
    normal_count_2010 = local['일반단체.10']
    normal_rating_2010 = local['일반단체.11']
    normal_2010 = pd.concat([normal_count_2010,normal_rating_2010], axis=1)
    normal_2010.columns=['2010_실적(건)','2010_구성비(%)']
    
    normal_count_2011 = local['일반단체.12']
    normal_rating_2011 = local['일반단체.13']
    normal_2011 = pd.concat([normal_count_2011,normal_rating_2011], axis=1)
    normal_2011.columns=['2011_실적(건)','2011_구성비(%)']
    
    normal_count_2012 = local['일반단체.14']
    normal_rating_2012 = local['일반단체.15']
    normal_2012 = pd.concat([normal_count_2012,normal_rating_2012], axis=1)
    normal_2012.columns=['2012_실적(건)','2012_구성비(%)']
    
    normal_count_2013 = local['일반단체.16']
    normal_rating_2013 = local['일반단체.17']
    normal_2013 = pd.concat([normal_count_2013,normal_rating_2013], axis=1)
    normal_2013.columns=['2013_실적(건)','2013_구성비(%)']
    
    normal_count_2014 = local['일반단체.18']
    normal_rating_2014 = local['일반단체.19']
    normal_2014 = pd.concat([normal_count_2014,normal_rating_2014], axis=1)
    normal_2014.columns=['2014_실적(건)','2014_구성비(%)']
    
    normal_count_2015 = local['일반단체.20']
    normal_rating_2015 = local['일반단체.21']
    normal_2015 = pd.concat([normal_count_2015,normal_rating_2015], axis=1)
    normal_2015.columns=['2015_실적(건)','2015_구성비(%)']
    
    normal_count_2016 = local['일반단체.22']
    normal_rating_2016 = local['일반단체.23']
    normal_2016 = pd.concat([normal_count_2016,normal_rating_2016], axis=1)
    normal_2016.columns=['2016_실적(건)','2016_구성비(%)']
    
    normal_count_2017 = local['일반단체.24']
    normal_rating_2017 = local['일반단체.25']
    normal_2017 = pd.concat([normal_count_2017,normal_rating_2017], axis=1)
    normal_2017.columns=['2017_실적(건)','2017_구성비(%)']
    
    normal_count_2018 = local['일반단체.26']
    normal_rating_2018 = local['일반단체.27']
    normal_2018 = pd.concat([normal_count_2018,normal_rating_2018], axis=1)
    normal_2018.columns=['2018_실적(건)','2018_구성비(%)']
    
    normal_count_2019 = local['일반단체.28']
    normal_rating_2019 = local['일반단체.29']
    normal_2019 = pd.concat([normal_count_2019,normal_rating_2019], axis=1)
    normal_2019.columns=['2019_실적(건)','2019_구성비(%)']
    
    normal = pd.concat([normal_2005,normal_2006,normal_2007,normal_2008, normal_2009,normal_2010, normal_2011, normal_2012, normal_2013, normal_2014, normal_2015, normal_2016, normal_2017, normal_2018, normal_2019], axis=1)
    normal = normal.reset_index()
    normal=normal.drop('index', axis=1)
    return normal

In [167]:
def Normal(local):
    i=0
    j=1

    for year in range(2005,2020):
        a = globals()['normal_count_{}'.format(year)] = local[f"일반단체.{i}"]
        b = globals()['normal_rating_{}'.format(year)] = local[f"일반단체.{j}"]
        globals()['normal_{}'.format(year)] = pd.concat([a,b], axis=1)
        globals()['normal_{}'.format(year)].columns = [f"{year}_실적(건)",f"{year}_구성비(%)"]
        i += 2
        j += 2

    normal = pd.concat([normal_2005,normal_2006,normal_2007,normal_2008, normal_2009,normal_2010, normal_2011, normal_2012, normal_2013, normal_2014, normal_2015, normal_2016, normal_2017, normal_2018, normal_2019], axis=1)
    normal = normal.reset_index()
    normal=normal.drop('index', axis=1)
    return normal

In [168]:
Normal(seoul).head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,15056,7.1,13192,5.9,14040,7.5,14281,6.9,16566,7.9,...,-,-,-,-,-,-,3524,1.3,4518,1.8
1,12328,7.3,10819,6.2,11531,8.4,11436,7.8,13981,9.5,...,-,-,-,-,-,-,2648,1.4,3183,1.7
2,2728,6.7,2373,5,2509,5,2845,4.7,2585,4.3,...,-,-,-,-,-,-,876,1.2,1335,2
3,9069,6.8,8892,6.4,10920,7,10428,6.1,13806,7.1,...,11653,3.5,8135,2.8,4413,1.6,-,-,-,-
4,8079,7.1,7533,6.6,8075,6.9,7725,6.1,10453,7.3,...,8901,3.8,6250,3,3336,1.7,-,-,-,-

## 개인

### 원내

In [ ]:
def Normal(local):
    normal_count_2005 = local["일반단체"]
    normal_rating_2005 = local["일반단체.1"]
    normal_2005 = pd.concat([normal_count_2005,normal_rating_2005], axis=1)
    normal_2005.columns=['2005_실적(건)','2005_구성비(%)']

    normal_count_2006 = local['일반단체.2']
    normal_rating_2006 = local['일반단체.3']
    normal_2006 = pd.concat([normal_count_2006,normal_rating_2006], axis=1)
    normal_2006.columns=['2006_실적(건)','2006_구성비(%)']

    normal_count_2007 = local['일반단체.4']
    normal_rating_2007 = local['일반단체.5']
    normal_2007 = pd.concat([normal_count_2007,normal_rating_2007], axis=1)
    normal_2007.columns=['2007_실적(건)','2007_구성비(%)']
    
    normal_count_2008 = local['일반단체.6']
    normal_rating_2008 = local['일반단체.7']
    normal_2008 = pd.concat([normal_count_2008,normal_rating_2008], axis=1)
    normal_2008.columns=['2008_실적(건)','2008_구성비(%)']
    
    normal_count_2009 = local['일반단체.8']
    normal_rating_2009 = local['일반단체.9']
    normal_2009 = pd.concat([normal_count_2009,normal_rating_2009], axis=1)
    normal_2009.columns=['2009_실적(건)','2009_구성비(%)']
    
    normal_count_2010 = local['일반단체.10']
    normal_rating_2010 = local['일반단체.11']
    normal_2010 = pd.concat([normal_count_2010,normal_rating_2010], axis=1)
    normal_2010.columns=['2010_실적(건)','2010_구성비(%)']
    
    normal_count_2011 = local['일반단체.12']
    normal_rating_2011 = local['일반단체.13']
    normal_2011 = pd.concat([normal_count_2011,normal_rating_2011], axis=1)
    normal_2011.columns=['2011_실적(건)','2011_구성비(%)']
    
    normal_count_2012 = local['일반단체.14']
    normal_rating_2012 = local['일반단체.15']
    normal_2012 = pd.concat([normal_count_2012,normal_rating_2012], axis=1)
    normal_2012.columns=['2012_실적(건)','2012_구성비(%)']
    
    normal_count_2013 = local['일반단체.16']
    normal_rating_2013 = local['일반단체.17']
    normal_2013 = pd.concat([normal_count_2013,normal_rating_2013], axis=1)
    normal_2013.columns=['2013_실적(건)','2013_구성비(%)']
    
    normal_count_2014 = local['일반단체.18']
    normal_rating_2014 = local['일반단체.19']
    normal_2014 = pd.concat([normal_count_2014,normal_rating_2014], axis=1)
    normal_2014.columns=['2014_실적(건)','2014_구성비(%)']
    
    normal_count_2015 = local['일반단체.20']
    normal_rating_2015 = local['일반단체.21']
    normal_2015 = pd.concat([normal_count_2015,normal_rating_2015], axis=1)
    normal_2015.columns=['2015_실적(건)','2015_구성비(%)']
    
    normal_count_2016 = local['일반단체.22']
    normal_rating_2016 = local['일반단체.23']
    normal_2016 = pd.concat([normal_count_2016,normal_rating_2016], axis=1)
    normal_2016.columns=['2016_실적(건)','2016_구성비(%)']
    
    normal_count_2017 = local['일반단체.24']
    normal_rating_2017 = local['일반단체.25']
    normal_2017 = pd.concat([normal_count_2017,normal_rating_2017], axis=1)
    normal_2017.columns=['2017_실적(건)','2017_구성비(%)']
    
    normal_count_2018 = local['일반단체.26']
    normal_rating_2018 = local['일반단체.27']
    normal_2018 = pd.concat([normal_count_2018,normal_rating_2018], axis=1)
    normal_2018.columns=['2018_실적(건)','2018_구성비(%)']
    
    normal_count_2019 = local['일반단체.28']
    normal_rating_2019 = local['일반단체.29']
    normal_2019 = pd.concat([normal_count_2019,normal_rating_2019], axis=1)
    normal_2019.columns=['2019_실적(건)','2019_구성비(%)']
    
    normal = pd.concat([normal_2005,normal_2006,normal_2007,normal_2008, normal_2009,normal_2010, normal_2011, normal_2012, normal_2013, normal_2014, normal_2015, normal_2016, normal_2017, normal_2018, normal_2019], axis=1)
    normal = normal.reset_index()
    normal=normal.drop('index', axis=1)
    return normal

---

## 지역별로 구분하기
- df[df['혈액원별(2)'].str.contains('서울')] 특정 문자열이 포함된 컬럼 가져오기

### 서울 데이터

In [145]:
# 서울 데이터 
seoul_center=df[9:12]
seoul_west=df[12:15]
seoul_south=df[15:18]
seoul_east=df[18:21]

# 서울 데이터 병합
seoul = pd.concat([seoul_center,seoul_west,seoul_south,seoul_east])
seoul.head()

,혈액원별(2),성별(1),소계,소계.1,소계.2,고등학교.0,고등학교.1,대학교.0,대학교.1,군부대.0,...,일반단체.28,일반단체.29,소계.73,소계.74,원내.28,원내.29,헌혈의집.28,헌혈의집.29,가두.28,가두.29
9,서울중앙,계,210606,115114,54.7,20574,9.8,8258,3.9,68161,...,4518,1.8,200637,79.9,5246,2.1,195370,77.8,21,0
10,서울중앙,남,169824,102272,60.2,14522,8.6,5349,3.1,68038,...,3183,1.7,139438,76.2,3840,2.1,135584,74.1,14,0
11,서울중앙,여,40782,12842,31.5,6052,14.8,2909,7.1,123,...,1335,2,61199,89.8,1406,2.1,59786,87.8,7,0
12,서울서부,계,133579,55697,41.7,14614,10.9,1546,1.2,27230,...,-,-,-,-,-,-,-,-,-,-
13,서울서부,남,113857,49825,43.8,10700,9.4,1268,1.1,27199,...,-,-,-,-,-,-,-,-,-,-

### 부산

In [15]:
# 부산 데이터 
busan=df[21:24]
busan.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,21341,10,25000,11.8,22661,12,25697,12.2,18207,8.4,...,22400,9.4,24835,12.1,22798,10.6,22086,9.9,21751,10.2
1,16943,10.4,19987,12.5,17689,12,20409,13,14907,9.3,...,16548,10.4,18188,12.7,16285,10.7,16020,10.2,15513,10.4
2,4398,8.8,5013,9.6,4972,11.9,5288,10,3300,5.8,...,5852,7.4,6647,10.8,6513,10.3,6066,9.1,6238,9.8

### 대구

In [17]:
# 대구 데이터 
daegu=df[24:27]
daegu.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,33076,17,34194,18.1,30588,19.4,34637,18.4,31922,14.8,...,31962,12.3,36194,15.3,35050,14.6,33960,13.8,27395,11.8
1,23884,16.3,24662,17.6,22749,19.4,25111,19,23388,15.4,...,20821,11.7,24738,14.7,23705,13.7,23152,13.1,18759,11.2
2,9192,19.4,9532,19.4,7839,19.5,9526,17.1,8534,13.4,...,11141,13.5,11456,16.7,11345,16.6,10808,15.6,8636,13.2

### 인천

In [18]:
# 인천 데이터 
incheon=df[27:30]
incheon.head()

# 인천 년도별 고등학생 헌혈수
high_incheon = high_school(incheon)
high_incheon.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,31133,24.1,28184,23.3,22134,20.1,23664,19.4,18343,14,...,24770,13.7,26219,16.2,24107,14.7,21747,13.8,20129,12.7
1,20834,23,18567,21.4,15455,19.5,16366,18.9,12983,14.4,...,16772,13.8,17843,15.8,15862,13.7,14641,13.2,13105,11.7
2,10299,26.6,9617,28.2,6679,21.5,7298,20.8,5360,13.1,...,7998,13.5,8376,17.3,8245,17.3,7106,15.3,7024,15.1

### 울산

In [20]:
# 울산 데이터 
ulsan=df[30:33]
ulsan.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,12898,16.4,10543,12.8,11314,17.3,12519,17.6,14360,19.4,...,19737,21.1,20625,23.6,19986,23.2,18465,21.3,18323,20
1,10232,16.5,8872,13.7,9665,18.4,10556,18.8,11802,20.6,...,15279,21.8,15123,23,14569,22.1,13203,20,13013,19
2,2666,15.8,1671,9.7,1649,12.9,1963,12.9,2558,15.4,...,4458,18.8,5502,25.5,5417,26.6,5262,25.4,5310,23

### 경기

In [21]:
# 경기 데이터 
gg=df[33:36]
gg.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,16231,11.7,25915,18.3,24385,18.9,26711,18.9,23268,14.1,...,26520,12.1,28816,14,26166,12.4,19484,9.6,22529,10.7
1,14392,12.3,22093,19.2,19469,18.9,20545,18.7,17408,14.2,...,17707,11.1,19690,12.7,17977,11.3,13471,8.6,14819,9.3
2,1839,8.8,3822,14.3,4916,18.7,6166,19.6,5860,13.8,...,8813,14.8,9126,18,8189,16,6013,12.7,7710,14.8

### 강원

In [22]:
# 강원 데이터 
kangwon=df[36:39]
kangwon.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,5106,6.1,4597,6,5853,9.1,6525,8.9,7081,8.9,...,15713,10.5,14459,9.6,14079,9.1,14313,8.9,14245,9.3
1,4076,5.4,3439,5.1,3814,6.9,4396,7.1,4484,7,...,10187,8.8,9344,7.6,8730,6.9,9248,6.9,8952,7
2,1030,13.5,1158,13,2039,22.6,2129,18.3,2597,16.8,...,5526,16.5,5115,18.5,5349,19.4,5065,19,5293,20.2

### 충북

In [23]:
# 충북 데이터 
chungbuk=df[39:42]
chungbuk.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,13132,17,13475,17.1,14847,20.4,18939,22.3,17626,17.7,...,16510,16.6,16332,18.3,15955,16.7,14001,14.9,15206,16.1
1,9325,15.3,9821,15.9,10664,18.3,13647,20.3,13564,17.2,...,11355,15.4,10931,16.4,10102,14,9153,12.8,9631,13.7
2,3807,22.9,3654,21.2,4183,29,5292,29.7,4062,19.7,...,5155,19.8,5401,23.9,5853,24.7,4848,21.7,5575,23.2

### 대전

In [24]:
# 대전
daejeon=df[42:45]
daejeon.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,20940,13,29649,20.2,30255,20.6,32573,18.8,22487,12.3,...,34526,13.9,38552,16.3,36675,15.2,38233,15.4,38129,15.3
1,17240,12.3,22054,18.9,21976,19,23570,17.7,16890,12.1,...,23843,13.2,26326,15.4,24624,14.2,24418,13.7,24108,13.7
2,3700,17.9,7595,25.2,8279,26.6,9003,22.3,5597,13,...,10683,15.6,12226,18.8,12051,17.8,13815,19.8,14021,19.4

### 전북

In [25]:
# 전북
jeonbuk=df[45:48]
jeonbuk.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,22099,18.3,23615,19.9,19676,20,20146,18.7,21070,17.4,...,17056,13.2,19282,16.6,20622,18.1,20957,19.3,21421,19.7
1,15475,16.2,16101,18.1,13345,17.6,14368,17.6,15196,16.6,...,11508,12.1,13053,14.9,14477,16.6,14388,17.4,14513,17.8
2,6624,26,7514,25.2,6331,28.2,5778,22.2,5874,19.8,...,5548,16.3,6229,21.9,6145,22.7,6569,25.2,6908,25.1

### 광주

In [26]:
# 광주
gwanju=df[48:51]
gwanju.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,32353,18.6,31467,15.7,31324,17.6,35756,18.4,30830,15.3,...,25774,11.6,32533,16.1,34034,15.5,29612,14.3,32618,15.8
1,20559,15.6,20422,14.1,19580,15.6,22260,16.9,20354,14.8,...,16594,11.7,20659,15.5,21714,14.7,19262,13.6,21001,14.8
2,11794,27.9,11045,19.9,11744,22.5,13496,21.4,10476,16.3,...,9180,11.5,11874,17.2,12320,17,10350,15.8,11617,17.9

### 경남

In [27]:
# 경남
gyeongnam=df[51:54]
gyeongnam.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,10494,10.4,13523,13.2,13382,14.6,17124,16.8,15400,13.4,...,18454,13.6,21218,16.6,25080,19.2,26416,19.6,26940,20.3
1,8246,9.3,10432,11.9,8500,11.3,13321,15.8,11427,12.2,...,13501,12.7,15440,15.4,18244,18,18350,17.8,18809,18.6
2,2248,18.2,3091,20.5,4882,29.8,3803,21.5,3973,18.9,...,4953,16.8,5778,20.9,6836,23.5,8066,25.3,8131,25.8

### 제주

In [29]:
# 제주
jeju=df[54:57]
jeju.head()

,2005_실적(건),2005_구성비(%),2006_실적(건),2006_구성비(%),2007_실적(건),2007_구성비(%),2008_실적(건),2008_구성비(%),2009_실적(건),2009_구성비(%),...,2015_실적(건),2015_구성비(%),2016_실적(건),2016_구성비(%),2017_실적(건),2017_구성비(%),2018_실적(건),2018_구성비(%),2019_실적(건),2019_구성비(%)
0,4691,14.8,5891,19.8,6336,23,6583,20.2,5693,15.4,...,6852,16.8,7276,20.3,6904,18.3,7625,22.3,7421,20.6
1,3405,13.6,4220,17.8,4391,20.4,4434,19.1,4069,16.3,...,4374,17,4699,19.8,4152,16.1,5043,20.8,4580,18.6
2,1286,19.2,1671,27.8,1945,32.3,2149,23,1624,13.6,...,2478,16.5,2577,21.3,2752,22.8,2582,25.7,2841,25.1